/* Your existing desktop-first styles */

body, html {
  margin: 0;
  padding: 0;
  background-color: white;
}

.App-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-left: 60px;
  margin-top: 40px;
}

.App {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.Footer {
  width: 100%;
  text-align: left;
}

.page-content-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.page-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.Portfolio, .About {
  flex: 1 1 auto;
  padding: 20px;
}

/* Mobile-first styles */

@media (max-width: 768px) {
  .App {
    flex-direction: column;
  }
  
  .page-content-wrapper, .Footer {
    width: 100%;
  }

  .page-content {
    padding: 10px;
    overflow-y: scroll;
  }
  
  .Portfolio, .About {
    padding: 10px;
  }
}
